/*
  (this is a CSS comment)
  Clyde "Thluffy" Sinclair
  IntroCS pd00 sec00
  HW99 -- demo/sample
  2021-02-02
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */

/* this will style all h1 elements with color red */
h1 {
    color: red
}

/* this will style all h2 elements with color blue */
h2 {
    color: blue
}

/* this will make the page background black */
body {
    background-color: black; /* bc dark mode 4 teh youngs */
}
