/*
  IntroCS pd02 sec02
  HW05 -- Stuylin'
  2021-02-10
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
each declaration is in the form
PROPERTY : VALUE;
for ex: html is selector, height is property, 100 is value
 */
html {
  height: 100%;
}

/* this will style all h1 elements with color red and fancy font */
h1 {
    color: red;
    font-family: Garamond, serif;
}

/* this will style all h2 elements with color pink and Comic Sans*/
h2 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 75px;
    font-style: normal;
    outline-style: double;
    outline-color: white;
    color: pink;
    margin: 10px;
}

/* this will make the page background lavender blush */
body {
    background-color: fff0f5;/*not red background so won't hurt eyes */
    color: f08080;
    font-family: monaco, cursive;
    font-size: 75px;
    font-style: normal;
}
