/*
  (this is a CSS comment)
  IntroCS pd02 sec02
  HW05 -- Stuylin'
  2021-02-10
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */
html {
  height: 100%;
}

/* this will style all h1 elements with color black and fancy font */
h1 {
    color: black;
    font-family: 'Comic Sans MS', cursive;
}

/* this will style all h2 elements with color white */
h2 {
    color: white
}

/* this will make the page background red */
body {
    background-color: red;
}
